In [63]:
class employee:
    emp_id=1
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
        self.__id=employee.emp_id
        employee.emp_id+=1
    
    def __str__(self):
        return f"employee name: {self.name} \n employee salary: {self.salary}\n employee id: {self.__id}"

In [64]:
emp1=employee('manish',80000)

In [65]:
emp2=employee('shan',50000)

In [66]:
emp3=employee('shahrukh',60000)

In [67]:
print(emp1)

employee name: ,manish
 employee salary: ,80000
 employee id: ,1

In [60]:
print(emp2)

<__main__.employee object at 0x000001B25D818910>

In [61]:
print(emp3)

<__main__.employee object at 0x000001B25D818700>

In [43]:
getattr(emp1, 'name')

'manish'

In [27]:
getattr(emp1,'salary')

80000

In [28]:
getattr(emp1,'__id')

AttributeError: 'employee' object has no attribute '__id'

In [68]:
emp1

In [69]:
emp1.name

'manish'

In [70]:
x=100

In [72]:
print(f'chocolate price {x}')

chocolate price 100

In [74]:
class empl:
    emp_id=1
    def __init__(self):
        self.name=None
        self.salary=None
        self.__id=employee.emp_id
        employee.emp_id+=1
    
    def __str__(self):
        return f"employee name: {self.name} \n employee salary: {self.salary}\n employee id: {self.__id}"

In [75]:
em1=empl()

In [76]:
print(em1)

employee name: None
 employee salary: None
 employee id: 1

In [77]:
em1.name='python'

In [80]:
em1.salary=20000

In [81]:
print(em1)

employee name: python
 employee salary: 20000
 employee id: 1

In [82]:
em2=empl()

In [83]:
setattr(em2,'name','java')

In [84]:
setattr(em2,'salary',5000)

In [85]:
print(em2)

employee name: java
 employee salary: 5000
 employee id: 2

In [102]:
class e:
    emp_id=1
    def __init__(self):
        self.__id=e.emp_id
        e.emp_id+=1
    
    def __str__(self):
        return f"employee name: {self.name} \n employee salary: {self.salary}\n employee id: {self.__id}"

In [103]:
empx=e()

In [104]:
empy=e()

In [105]:
empz=e()

In [106]:
setattr(empx,'name','mann')

In [107]:
setattr(empx,'salary',4000)

In [108]:
print(empx)

employee name: mann
 employee salary: 4000
 employee id: 1

In [109]:
# Operator overloading
# database

In [111]:
#mann
# __add__
#__sub__


#ob+ob1
# ob-ob1

In [120]:
def add(*a):
    print((a))
    for i in a:
        print(sum(i))

In [118]:
add(1,2,4,5,6,78,9)

[1, 2, 4, 5, 6, 78, 9]
1
2
4
5
6
78
9

(1, 2, 4, 5, 6, 78, 9)

In [121]:
n=int(input('n: '))
l=[]
for i in range(n):
    a=int(input())
    l.append(a)
add(l)

n: 4
34
345
5
567
[[34, 345, 5, 567]]
951

######